<%= form_tag "/trainers/find" do %>
<%= text_field_tag :search_string %>
<%= submit_tag :search %>
<% end %>


<h1>New Trainer</h1>

<%= render 'form', trainer: @trainer %>

<%= link_to 'Back', trainers_path %>
