<%= form_tag "/trainers/find" do %>
<%= text_field_tag :search_string %>
<%= submit_tag :search %>
<% end %>


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trainer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @trainer.address %>
</p>

<p>
  <strong>Current weight:</strong>
  <%= @trainer.current_weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @trainer.height %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @trainer.gender %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @trainer.email_address %>
</p>

<%= link_to 'Edit', edit_client_path(@trainer) %> |
<%= link_to 'Back', clients_path %>
